<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <h3 class="mb-1 text-center"><%= article.title %></h3>
    <div class="text-muted mb-4 text-center">
      <%= article.createdAt.toLocaleDateString() %>
    </div>
    <a href="/" class="btn btn-outline-secondary btn-sm mb-4">All Articles</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-outline-info btn-sm mb-4">Edit</a>

    <div>
      <%- article.sanitizedHtml %>
    </div>
  </div>
</body>
</html>